.details-container {
    display: flex;
    align-items: stretch;
    height: 84.5vh;
    position: relative;
}

.details-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.details-image {
    max-height: 100%;
    width: 50%;
    object-fit: fill;
    position: relative;
}

.details-header {
    margin-bottom: 20px;
}

.details-text {
    text-align: center;
    padding: 16px;
}

.listings-container {
    margin-top: 24px;
}

.MuiList-root {
    background-color: var(--light-grey);
    color: var(--dark-blue);
}
