.create-list-form {
    border: 1px solid var(--dark-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 40px 60px;
}

.create-list-input {
    border: 1px solid var(--dark-blue);
    padding: 5px;
    color: var(--dark-blue);
}

.create-list-input::placeholder {
    text-align: center;
}

#type-select {
    padding: 4px 24px;
    margin-right: 10px;
}
