.landing-container {
    display: flex;
    align-items: stretch;
    height: 90vh;
}

.landing-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 20px;

    /* Animation gradient */

    position: relative;
    width: 100%;
    height: 90vh;
    background: var(--light-grey);
    overflow: hidden;
}

.landing-content .air {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(/wave.png);
    background-size: 1000px 100px;
}

.landing-content .air.air1 {
    animation: wave 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

.landing-content .air.air2 {
    animation: wave2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}

.landing-content .air.air3 {
    animation: wave 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}

.landing-content .air.air4 {
    animation: wave2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}

@keyframes wave {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 1000px;
    }
}

@keyframes wave2 {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: -1000px;
    }
}

.landing-image {
    flex: 1;
    max-height: 100%;
    width: 60%;
    object-fit: cover;
    position: relative;
}

.landing-title {
    color: var(--dark-blue);
    font-size: 36px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.landing-text {
    color: var(--dark-blue);
    font-size: 18px;
    max-width: 600px;
    margin-bottom: 20px;
}

.landing-text-prefix {
    background-color: var(--dark-blue);
    color: #61dbfb;
    padding: 1px 3px 1px 3px;
    border-radius: 4px 0 0 4px;
}

.landing-text-suffix {
    background-color: var(--dark-blue);
    color: var(--dark-pink);
    padding: 1px 3px 1px 0;
    border-radius: 0 4px 4px 0;
}

.landing-buttons {
    display: flex;
    gap: 20px;
}
