.profile-container {
    display: flex;
    flex: 1;
    margin: auto;
    height: 84.5vh;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.reset-password-profile-container {
    margin: auto;
    padding: 64px;
    box-shadow: 5px 5px 10px 5px rgba(45, 71, 90, 0.5);
}

.edit-profile-container {
    margin: auto;
    padding: 32px;
    box-shadow: 5px 5px 10px 5px rgba(45, 71, 90, 0.5);
}

.avatar {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

.file-input-container {
    width: 100%;
    margin-bottom: 20px;
}

.file-input-label {
    display: inline-block;
    cursor: pointer;
    background-color: var(--dark-blue);
    color: var(--light-grey);
    padding: 10px 15px;
    border-radius: 5px;
}

.label-file-name {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 10px;
    max-width: 280px;
    padding: 8px 14px 14px 8px;
    border: 1px solid var(--dark-blue);
    border-radius: 4px;
    text-overflow: ellipsis;
    overflow: auto;
}

.label-text {
    flex: 1;
}

.label-icon {
    margin-left: 6px;
    color: var(--dark-blue);
}

.file-input {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
}

.profile-header {
    font-weight: bold;
    margin-bottom: 20px;
    width: auto;
    text-align: center;
}

.sidebar {
    width: 200px;
    height: 100%;
    position: fixed;
    top: 72px;
    left: 0;
    background-color: var(--light-grey);
    box-shadow: 10px 0px 10px -10px rgba(45, 71, 90, 0.5);
    padding: 20px;
}

.sidebar-header {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: var(--dark-blue);
    color: var(--light-grey);
    padding: 8px;
}

.sidebar-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.sidebar-list li {
    margin-bottom: 10px;
    cursor: pointer;
}

.sidebar-list li:hover {
    color: var(--dark-pink);
}
