.my-households-container {
    display: flex;
    align-items: stretch;
    height: 91.7vh;
}

.my-households-header {
    color: var(--dark-blue);
    border-bottom: 1px solid var(--dark-pink);
}

a {
    color: var(--dark-blue);
}

.households {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
    gap: 5px;
    gap: 100px;
    padding: 20px;
    list-style: none;
    overflow: auto;
    width: 100%;
}

.households-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 70%;

    h4 {
        border-bottom: 1px solid var(--dark-pink);
    }
}

.household {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border: 1px solid var(--dark-blue);
    padding: 30px;
}

.my-missing-household {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.my-missing-household p {
    color: var(--dark-blue);
    width: 500px;
    text-align: center;
}
