.my-households-container {
    display: flex;
    align-items: stretch;
    height: 84.5vh;
}

.households {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 30px;
    padding: 10px;
    list-style: none;
    overflow: auto;
    width: 100%;
}
