.DailyForecast {
    text-align: center;
    color: var(--dark-blue);
    font-size: 15px;
    margin-top: 10px;
}

.row {
    display: flex;
    gap: 20px;
}

.col {
    border-radius: 4px;
    padding: 20px;
    box-shadow: 3px 3px 10px 3px rgba(45, 71, 90, 0.5);
}

.DailyForecast-temp-min {
    opacity: 0.6;
    margin-left: 6px;
}

.DailyForecast-temps {
    margin-top: 14px;
}

.DailyForecast-day {
    margin-bottom: 8px;
}

.DailyForecast canvas {
    position: relative;
    left: 11px;
}

.PollutionForecast .link {
    font-size: 11px;
    color: #dce2cb;
}

.PollutionForecast p {
    margin-bottom: 0;
}

.PollutionForecast h3 {
    margin-bottom: 5px;
    margin-top: 5px;
}
