.weather {
    display: flex;
    flex-direction: column;
    margin: auto;
    box-shadow: 5px 5px 10px 5px rgba(45, 71, 90, 0.5);
    padding: 34px 64px;
}

.weather-search-form {
    margin-bottom: 50px;
}

.search-button {
    margin-left: 8px;
    padding: 10px;
    background-color: var(--dark-blue);
    color: var(--light-grey);
    border-radius: 4px;
}

.search-button:hover {
    background-color: var(--dark-pink);
    color: var(--dark-blue);
    cursor: pointer;
}

.col {
    text-align: center;
    padding: 2px;
}

.weather-forecast {
    margin: 30px 20px;
    color: var(--dark-blue);
    text-align: center;
}

.weather-forecast-date {
    font-size: 15px;
    opacity: 0.9;
}

.weather-forecast-temperature-max {
    font-weight: 600;
}

.weather .animated-icons {
    max-width: 120px;
}

.temperatures-display {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.units {
    position: relative;
    top: 2px;
}

.temperatures-display-weather {
    text-transform: capitalize;
    letter-spacing: 1px;
}

.temperatures-display-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-bottom: 8px;
}

.weather-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 28px;
    color: var(--dark-blue);
}

.temperatures-info {
    display: inherit;
}

.humidity-wind {
    color: var(--dark-blue);
    opacity: 0.9;
}
