.search-form {
    border-radius: 4px;
    padding: 8px;
    border: 1px solid var(--dark-blue);
    text-align: center;
    color: var(--dark-blue);
}

.search-form:focus {
    outline: none;
    border: 1px solid var(--dark-pink);
    text-align: center;
}

.search-form::selection {
    background-color: var(--light-pink);
}
