.member-form-container {
    position: relative;
    box-shadow: 5px 5px 10px 5px rgba(45, 71, 90, 0.5);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 40px 60px;
    width: 500px;
}

.member-form-container .MuiIconButton-root {
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--dark-blue);
}

.member-label {
    margin-bottom: 6px;
}

.member-input {
    border: 1px solid var(--dark-blue);
    border-radius: 4px;
    padding: 5px;
    color: var(--dark-blue);
    text-align: center;
}

.member-input::selection {
    background-color: var(--light-pink);
}

.member-input:focus {
    border: 1px solid var(--dark-pink);
    border-radius: 4px;
}

.member--input::placeholder {
    text-align: center;
}

.member-button {
    margin-left: 10px;
}

.remove-header {
    margin-top: 40px;
}
