.details-lists-container {
    height: 500px;
    width: 500px;
    overflow: scroll;
    border: 1px solid var(--dark-blue);
    border-radius: 4px;
    margin: 0 auto;
    padding: 20px;
}

.details-lists {
    list-style: none;
    margin-top: 20px;
}

.details-lists-item {
    margin-bottom: 10px;
    border: 1px solid var(--dark-blue);
    border-radius: 4px;
    padding: 10px;
}

.details-lists-item:hover {
    background-color: var(--dark-blue);
    color: var(--light-grey);
}

.details-lists-text {
    padding: 10px;
}

.details-lists-header {
    text-align: center;
    padding: 10px;
    font-size: 24px;
    background-color: var(--dark-blue);
    color: var(--light-grey);
}

.no-lists {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 80px;
    font-size: 18px;
    text-align: center;
}
