.edit-form {
    padding: 40px 60px;
}

.buttons-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.edit-form-header {
    margin: 0% auto;
    width: 140px;
}

.edit-input {
    border: 1px solid var(--dark-blue);
    color: var(--dark-blue);
    padding: 5px;
    text-align: center;
}

.edit-input:focus {
    border: 1px solid var(--dark-pink);
}
