.edit-household-container {
    position: relative;
}

.edit-household-container .MuiIconButton-root {
    position: absolute;
    top: 10px;
    right: 10px;
}

.edit-form {
    padding: 40px 60px;
}

.buttons-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.edit-form-header {
    margin: 0% auto;
    width: 140px;
}

.edit-household-form-label {
    margin-bottom: 6px;
}

.edit-input {
    border: 1px solid var(--dark-blue);
    border-radius: 4px;
    color: var(--dark-blue);
    padding: 5px;
    text-align: center;
}

.edit-input::selection {
    background-color: var(--light-pink);
}

.edit-input:focus {
    border: 1px solid var(--dark-pink);
}
