nav {
    width: 100%;
    background-color: var(--light-grey);
    border-bottom: 1px solid var(--dark-blue);
    padding: 0 10px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    display: inline-block;

    img {
        width: 175px;
        vertical-align: middle;
        width: 150px;
        height: 75px;
    }
}

#search {
    border-radius: 4px;
    padding: 8px;
    border: none;
}

#search:focus {
    outline: none;
    border: 1px solid var(--dark-pink);
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: var(--dark-blue);
}

.nav-item:hover {
    border-bottom: 1px solid var(--dark-pink);
}

.nav-item:hover a {
    color: black;
}
