.share-household-container {
    position: relative;
}

.share-household-container .MuiIconButton-root {
    position: absolute;
    top: 10px;
    right: 10px;
}

.share-heading {
    margin-top: 120px;
}

.share-buttons {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-top: 10px;
    border: 1px solid var(--dark-blue);
    border-radius: 4px;
    padding: 20px 100px;
}
