@import url(./components/Navbar/Navbar.css);
@import url(./components//Home/Home.css);
@import url(./components/Auth/Auth.css);
@import url(./components/Default/Default.css);
@import url(./components/CreateHouseholdForm/CreateHouseholdForm.css);
@import url(./components/MyHouseholds/MyHouseholds.css);
@import url(./components/Details/Details.css);
@import url(./components/CreateListForm/CreateListForm.css);
@import url(./components/EditHousehold/EditHousehold.css);
@import url(./components/LoadingSpinner/Spinner.css);

:root {
    --dark-pink: #f08a9d;
    --light-pink: #f5e3e6;
    --light-grey: #ecebe9;
    --dark-blue: #2d475a;
    --light-blue: #757f86;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--light-grey);
    color: var(--dark-blue);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
}

a {
    color: var(--dark-blue);
}

.border-bottom {
    border-bottom: 1px solid var(--dark-pink);
}

.button-action {
    background-color: var(--dark-blue);
    color: var(--light-grey);
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-action:hover {
    background-color: var(--dark-pink);
    color: var(--dark-blue);
}

.delete-button {
    text-transform: uppercase;
    font-size: 14px;
    background-color: var(--dark-pink);
    color: var(--dark-blue);
    padding: 6px 14px;
}

.delete-button:hover {
    background-color: var(--dark-blue);
    color: var(--light-grey);
}

.edit-button {
    margin-top: 20px;
    font-size: 14px;
}

.create-button {
    padding: 4px 24px;
    font-size: 14px;
    margin-top: 4px;
}

.form-label {
    margin-top: 10px;
}
