@import url(./components/Navbar/Navbar.css);
@import url(./components//Home/Home.css);

:root {
    --dark-pink: #f08a9d;
    --light-pink: #f5e3e6;
    --light-grey: #ecebe9;
    --dark-blue: #2d475a;
}

body {
    background-color: var(--light-grey);
}
