@import url(./components/Navbar/Navbar.css);
@import url(./components//Home/Home.css);
@import url(./components/Auth/Auth.css);

:root {
    --dark-pink: #f08a9d;
    --light-pink: #f5e3e6;
    --light-grey: #ecebe9;
    --dark-blue: #2d475a;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--light-grey);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
}
