.shopping-list-container {
    display: flex;
    align-items: stretch;
    height: 91.7vh;
}

.list-image {
    flex: 1;
    max-height: 100%;
    width: 80%;
    object-fit: cover;
    position: relative;
}

.list-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.welcome-list {
    font-size: 24px;
    text-transform: uppercase;
}

.form-container {
    padding: 10px 100px;
}

.form-list {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    margin-bottom: 40px;
}

.qty-input {
    width: 60px;
}

.item-input,
.list-submit {
    width: 100px;
}

.list-form-label {
    width: auto;
}

.lists {
    max-height: 460px;
    min-width: 400px;
    list-style: none;
    border: 1px solid var(--dark-blue);
    padding: 30px;
    margin-top: 7px;
    overflow: auto;
}

.list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.list:hover {
    background-color: var(--light-pink);
}

.list-span-name {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
}

.list-span-qty {
    flex-shrink: 0;
    margin-left: 10px;
}

.icons {
    position: relative;
    right: 10px;
    top: 760px;
    max-height: 50px;
}
